/* Mobile & Tablet */
@media (max-width: 1024px){
 .tm_first_column, .tm_second_column {
   display: none !important;
 }
 .tm_row{
 	display: block !important;
 }
}

/* Desktop */
@media (min-width: 1025px){
 .tm_row {
   display: none !important;	
 }
 .tm_first_column, .tm_second_column{
 	display: block !important;
 }
}

.layout-6-columns{
  display: block !important;
}

.tm_social_profiles_layout_3{
  width: 100%;	
  position: absolute;
  top: 0;
  z-index: 1;
}